<section id="aboutUs">
  <h1>About Us</h1>
  <%= image_tag("aboutUs.jpg") %>
  <p>
    Sarah lives in Surrey with her husband and two young children.  Her passion for textiles started at an early age when her Grandmother taught her to sew.
  </p>
  <p>
    Sarah studied Textiles at The University of Leeds which led to Fabric Design and Worldwide Fabric Sourcing positions within the Courtaulds Textiles Group and a major supplier to Marks and Spencer clothing.
  </p>
  <p>
    After several years in the Garment Industry, Sarah took a Postgraduate Interior Design course at The University of Arts, London.  She then worked as an Interior Designer for two Interiors Firms within Surrey designing luxurious interiors for her clients.
  </p>
  <p>
    Sarah has now taken her textiles skills and knowledge in a new direction by creating handmade, bespoke textile items personalised for their recipient.  We hope that you like the pieces that Sarah has made to date.  We look forward to discussing any projects you might have for her.
  </p>
</section>
