<section class="intro">
  <h1>Birthday Cards (5 x 7 inch)</h1>
  <p>
    A beautiful range of birthday cards to cater for a range of tastes.  Fabric panels are appliqued with contrast fabrics, machine stitchwork, and finished with a range of beads and sequins before being mounted onto white cards.  We have often been told that our cards are framed after the birthday celebrations have finished!
  </p>
  <p>
    All cards come with matching white envelope and are left blank inside for your personal message.
  </p>
</section>

<section class="examples">
  <table>
    <tbody>
      <tr>
        <td>
          <figure>
            <%= image_tag("birthday_cards/Birthday Alliums - BA01.jpg") %>
            <figcaption>Birthday Alliums BA01 £5.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("birthday_cards/Birthday Alliums - BA01.jpg") %>
            <figcaption>Birthday Alliums BA01 £5.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("birthday_cards/Birthday Alliums - BA01.jpg") %>
            <figcaption>Birthday Alliums BA01 £5.00</figcaption>
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
</section>