<section id="Subtitle">
  <h1>Creators of Personalised Cushions and Cards</h1>
  <%= image_tag("IMG_8724.jpg", id: "LeftImage") %>
  <%= image_tag("IMG_8726.jpg", id: "RightImage") %>
</section>

<section id="MainImage">
  <%= image_tag("ProductRange.jpg", width: "100%" ) %>
</section>

