<section class="intro">
  <h1>  Tooth Fairy Range - Cushions (approx 18 x 18cm) & Purses</h1>
  <p>
    With a six year old daughter, the Tooth Fairy is making regular appearances at the moment which has inspired me to make these cushions and purses.  
  </p>
  <p>
    The <em>cushions</em> have been lovingly hand crafted using applique fabrics, machine stitching and hand finished embellishment using beads and sequins.  They feature a tooth / coin pouch which is large enough to fit a £2 coin / 50p piece.  In addition to the Tooth Fairy text, the child’s name could also be applied in handwriting style to create a more personal product.
  </p>
  <p>
    Care Label Information:</br>
    Cushion main outer fabric is cotton canvas in an off white shade.  Inner cushion pads are polyester filled.  The cushion covers are not designed to be removed, so they are stitched closed around all four sides.  Due to the high level of embellishment, our cushions are designed to be decorative, occasional use items.  All beads and sequins are applied by hand.  They have been triple stitched to promote durability.
  </p>
  <p>
    The <em>purses</em> are made from felt and are also made with applique fabric and machine stitching.  They can easily fit £2 coin / 50p pieces and are closed by popper fastening.
  </p>
</section>

<section class="examples">
  <table>
    <tbody>
      <tr>
        <td>
          <figure>
            <%= image_tag("tooth_fairy/Tooth Fairy Cushion Pink - TFCN01.jpg") %>
            <figcaption>Tooth Fairy Cushion Pink </br> TFCN01 £15.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("tooth_fairy/Tooth Fairy Cushion Purple - TFCN02.jpg") %>
            <figcaption class="second">Tooth Fairy Cushion Purple </br> TFCN02 £15.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("tooth_fairy/Tooth Fairy Cushions and Purses - TFCNP01.jpg") %>
            <figcaption class="third">Tooth Fairy Cushions and Purses </br> Purses all £5.00</figcaption>
          </figure>
        </td>
      </tr>
      <tr class="second_row">
        <td>
          <figure>
            <%= image_tag("tooth_fairy/Tooth Fairy Purses Pink TFP01, Purple TFP02, Light Blue TFP03,  Royal Blue  TFP04.jpg") %>
            <figcaption>Tooth Fairy Purses Pink TFP01, Purple TFP02, </br> Light Blue TFP03,  Royal Blue  TFP04</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            
            
          </figure>
        </td>
        <td>
          <figure>
            
            
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
</section>