<h1>New Order</h1>

<p>
  Name: <%= @order.name %>
</p>
<p>
  Email: <%= @order.email %>
</p>
<p>
  Phone: <%= @order.phone %>
</p>
<p>
  Details:</br>
  <pre>
    <%= @order.details %>
  </pre> 
</p>
