// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 0;
  background-color: #FFFFD6;
}

article#main {
  // background-color: white;
  background-image: url(image_path('stitched-circles-pattern-1536.png'));
  margin-left: auto;
  margin-right: auto;
  width: 960px;

  header {
    width: 100%;
    text-align: center;
    color: #513686;
    font-family: "Century Gothic", Helvetica, sans-serif;
    h1 {
      margin: 0;
      padding-top: 1em;
      padding-bottom: 1em;
      border-bottom: dashed;
    }
    nav {
      font-size: 1.5em;
      background-color: #E0D1FF;
      ul {
        padding: 0;
        padding-bottom: 5px;
        text-align: center;
        margin-bottom: 0;
        li {
          list-style: none;
          list-style-type: none;
          display:inline-block;
          text-decoration: none;
          width: 24%;
        }
      }

      a {
        margin: 0;
      }
    }
  }
}

img {
  padding: 0;
  margin: 0;
}
section#Subtitle {
  width: 34%;
  float: left;
  color: #513686;
  font-size: 0.75em;
  // background-color: #FFCE85;
  background-color: #E0D1FF;
  h1 {
      padding-left: 0.5em;
  }
  img#LeftImage {
    float: left;
    width: 50%;
    height: 319px;
    overflow: hidden;
  }
  img#RightImage {
    float: right;
    width: 50%;
    height: 319px;
    overflow: hidden;
  }
}

section#MainImage {
  margin-left: 34%;
  width: 66%;
  // height: 500px;
}

section#orderForm {
  color: #513686;
  background-color: #E0D1FF;
  padding: 1em;

  form {
    width: 75%;
  }

  ul {
    li {
      padding-bottom: 1em;
      list-style: none;
      input {
        display: block;
      }
      textarea {
        display: block;
        width: 75%;
        height: 10em;
      }
    }
  }
}

.dropdown_list {
  margin-left: 25%;
  width: 20%;
  background-color: #FFF;
  font-size: 0.75em;
  display: none;
  position: absolute;
  z-index: 1;
  p {
    padding-left: 1em;
    text-align: left;
  }
}

section.intro {
  font-size: 0.8em;
  background-color: #E0D1FF;
  color: #513686;
  padding: 0.5em 5% 1em 10%;
}

section.examples {
  color: #513686;
  padding-bottom: 1em;
  border-bottom: dashed;
  margin-bottom: 1em;
  // background-color: white;
  table {
    width: 100%;
  }
  tr {

  }
  td {

  }
  figure {
    margin-top: 1em;
    text-align: center;
    img {
      height: 150px;
    }
    figcaption {
      text-align: left;
      display: block;
      // background-color: #FFDB94;
      background-color: #E0D1FF;
      color: #513686;
      padding: 0.2em 0 0.2em 10%;
    }
    figcaption.second {
      // background-color: #FFCCFF;
    }
    figcaption.third {
      // background-color: #FFFFB4;
    }
  }
  tr.second_row {
    figcaption {
      // background-color: #FFFFB4;
    }
    figcaption.second {
      // background-color: #FFDB94;
    }
    figcaption.third {
      // background-color: #FFCCFF;
    }
  }
}

footer {
  color: #513686;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #E0D1FF;
  li {
    list-style: none;
  }
  nav#personalLinks {
    border-bottom: dashed;
  }
  nav#smallPrint {
    li {
      display: inline-block;
      text-align: center;
      width: 33%;
    }
  }
}

section#aboutUs {
  color: #513686;
  background-color: #E0D1FF;
  padding-left: 10%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  
  p {
    padding-right: 30%;
  }
  
  img {
    float: right;
    padding-right: 2em;
    width: 25%;
  }
}
