<footer>
  <nav id="personalLinks">
    <ul>
      <li>
        <a href="mailto:sarahstudholmetextiles@gmail.com">
          sarahstudholmetextiles@gmail.com</a>
      </li>
      <li>
        <a href="http://www.facebook.com/sarahstudholmetextiles">
          www.facebook.com/sarahstudholmetextiles</a>
      </li>
    </ul>
  </nav>
  <nav id="smallPrint">
    <ul>
      <li>
        <%= link_to "Delivery Charges", asset_path("DeliveryCharges.pdf") %>
      </li>
      <li>
        <%= link_to "Terms of Business", asset_path("TermsOfBusiness.pdf") %>
      </li>
      <li>
        <%= link_to "Privacy Policy", asset_path("PrivacyNotice.pdf") %>
      </li>
    </ul>
  </nav>
</footer>